services:
  backend:
    image: mithun039/hostel-outpass-backend:latest
    env_file:
      - server/.env
    ports:
      - "127.0.0.1:5000:5000"
    restart: always

  frontend:
    image: mithun039/hostel-outpass-frontend:latest
    ports:
      - "3000:3000"
    environment:
      - BACKEND_URL=http://backend:5000
    depends_on:
      - backend
    restart: always
