services:
  backend:
    image: mithun039/hostel-outpass-backend:latest
    env_file:
      - server/.env
    expose:
      - "5000"

  frontend-blue:
    image: mithun039/hostel-outpass-frontend:blue
    environment:
      - BACKEND_URL=http://backend:5000
    expose:
      - "3000"

  frontend-green:
    image: mithun039/hostel-outpass-frontend:green
    environment:
      - BACKEND_URL=http://backend:5000
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx/hostel.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - frontend-blue
      - frontend-green
      - backend
