services:
  backend:
    image: mithun039/hostel-outpass-backend:latest
    container_name: backend
    networks: [hostel-app-network]

  frontend-blue:
    image: mithun039/hostel-outpass-frontend:blue
    networks: [hostel-app-network]

  frontend-green:
    image: mithun039/hostel-outpass-frontend:green
    networks: [hostel-app-network]

  nginx:
    image: nginx:alpine
    container_name: hostel-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/hostel.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
      - frontend-blue
      - frontend-green
    networks: [hostel-app-network]

networks:
  hostel-app-network:
    driver: bridge
