- name: Deploy Hostel Outpass App
  hosts: app
  become: yes

  vars_files:
    - secrets.yml

  vars:
    app_dir: /home/ubuntu/hostel-app
    repo_url: https://github.com/Mithunit18/hostel-management.git

  roles:
    - nginx

  tasks:
    - name: Install git
      apt:
        name: git
        state: present
        update_cache: yes

    - name: Clone project repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
        version: main
        force: yes

    - name: Pull latest Docker images
      command: docker compose pull
      args:
        chdir: "{{ app_dir }}"

    - name: Stop existing containers
      command: docker compose down
      args:
        chdir: "{{ app_dir }}"

    - name: Start containers fresh
      command: docker compose up -d
      args:
        chdir: "{{ app_dir }}"
