name: Auto Deploy via Ansible

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.CONTROL_EC2_IP }} >> ~/.ssh/known_hosts

      - name: Deploy using Ansible on Control Node
        run: |
          ssh ubuntu@${{ secrets.CONTROL_EC2_IP }} << 'EOF'
            cd ~/ansible/hostel
            echo "${{ secrets.ANSIBLE_VAULT_PASSWORD }}" > ~/.vault_pass
            chmod 600 ~/.vault_pass
            ansible-playbook deploy.yml --vault-password-file ~/.vault_pass
            rm -f ~/.vault_pass
          EOF
